@charset "utf-8";

main, header, aside, article, footer{
    padding:10px;
    border:1px solid black;
}

main{
    max-width:1600px;
    margin:auto;
    display:grid;
    grid-template-areas:
        "he he he he"
        "ba ar ar jo"
        "fo fo fo fo"
        ;
    grid-gap:10px;
}

header{
    grid-area:he;
}
.bal{
    grid-area:ba;
}
article{
    grid-area:ar;
}
.jobb{
    grid-area:jo;
}
footer{
    grid-area:fo;
}

img{
    width:150px;
}